$border-color-default: #f1f1f1;
$border-color-accent: #cfed6d;
$border-color-danger: #E62202;
$text-color-primary: #000;
$text-color-secondary: #cacaca;
$text-color-danger: #E62202;
$text-color-accent: #5ba36a;
$background-color-accent: #f7f7f7;
